/* LESS */
@swatch_1: #e6e3e1;
@swatch_2: #020203;
@swatch_3: #c9c2bc;
@swatch_4: #888179;
@swatch_5: #686360;
@swatch_6: #45423e;
@swatch_7: #ffffff;

body{
  display: flex;
  justify-content: center;
  background-color: @swatch_3;
}

.container {
  width: 794px;
  box-shadow: @swatch_2 -20px 20px 100px;
  margin-top: 20px;
}

.header {
  background-color: @swatch_1;
  padding: 10px 20px
}

.main {
  height: 500px;
  background-color: @swatch_2;
  display: flex;

  .main__left {
    padding: 20px 30px;
    flex:1;
  }

  .main__right {
    padding: 20px 30px;
    flex: 2;
  }
}

.header__info {
  display: flex;
  font-size: 13px;
  color: @swatch_4;

  strong {
    color: @swatch_2;
  }
}


.connect {
  flex-grow: 1;
  width: 50%;

  a {
    //text-decoration: none;
    color: @swatch_4
  }
}

.aboutme {
  flex-grow: 1;
  width: 50%;
  padding-right: 50px;
}

.connect__label {
  color: @swatch_2;
  font-weight: bold;
  margin-right: 20px
}

.moduletitle {
  .index {
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
    color: @swatch_7;
  }

  .title {
    font-size: 18px;
    color: @swatch_7;
  }
}

.skill {
  width: 250px;

  h5 {
    color: @swatch_1
  }
}

.skillrank {
  color: @swatch_1;

  .rank {
    height: 2px;
    width: 100%;
    background-color: @swatch_6;

    .inline {
      height: 2px;
      background-color: @swatch_1;
    }
  }

  h6 {
    margin-bottom: 15px;
  }
}

.education {
  margin-top: 30px;
  width: 250px;

  .time {
    color: @swatch_1;
  }

  .main {
    display: flex;
    margin-top: 20px;

    .info {
      color: @swatch_1;
      flex: 3;

      .school {
        display: block;
        margin-bottom: 9px;
      }

      .profession {
        display: block;
        font-size: 14px;
        color: @swatch_3
      }
    }

    .time {
      flex: 1;
      //text-align: center;
      font-size: 16px;
      font-weight: bold;

      .start {
        display: block;
      }

      .end {
        display: block;
      }

      .connect {
        line-height: 8px;
        font-size: 20px;
        text-align: center;
        display: block;
      }
    }
  }
}

.experience {

}

.experience__item {
  border: solid 1px @swatch_4;
  margin-bottom: 10px;
  height: 100px;
  width: 100%;
  color: @swatch_3;
  display: flex;

  .logo {
    height: 80px;
    width: 80px;
    margin: 10px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .experienceitem__main{
    margin: 10px 10px;

    .responsibility{
      font-size: 12px;
      margin-top: 5px;
    }

    .title {
      color: #fff;
      font-size: 15px;

      .time {
        color: @swatch_3;
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }


}

.experience__list {
  margin-top: 20px;
}