/* LESS */
@swatch_1: #e6e3e1;
@swatch_2: #020203;
@swatch_3: #c9c2bc;
@swatch_4: #888179;
@swatch_5: #686360;
@swatch_6: #45423e;
@swatch_7: #ffffff;

body{
  display: flex;
  justify-content: center;
  background-color: @swatch_3;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

.container {
  width: 794px;
  //box-shadow: @swatch_2 -20px 20px 100px;
  // margin-top: 20px;
  height: 1123px;
  background-color: @swatch_2;
  padding: 0 20px;
}

.header {
  background-color: @swatch_1;
  padding: 10px 20px 0 20px;

  .header__top {
    display: flex;
    justify-content: space-between;
  }

  .header__logo {
    img {
      width: 65px;
      border: 3px solid #fff;
    }
  }
}

.boundary {
  
  //border-top: 20px solid red;
  border-right: 794px solid @swatch_2;
  border-top: 35px solid @swatch_1;
  margin-bottom: -1px;
  margin-top: -1px;
}

.main {
  background-color: @swatch_2;
  display: flex;

  .main__left {
    padding: 0 30px;
    flex:1;
  }

  .main__right {
    padding: 0 30px;
    flex: 2;
  }
}

.header__info {
  display: flex;
  font-size: 13px;
  color: @swatch_4;

  strong {
    color: @swatch_2;
  }
}


.connect {
  flex-grow: 1;
  width: 50%;

  a {
    //text-decoration: none;
    color: @swatch_4
  }
}

.aboutme {
  flex-grow: 1;
  width: 50%;
  padding-right: 50px;
  white-space: pre-wrap;
}

.connect__label {
  color: @swatch_2;
  font-weight: bold;
  margin-right: 20px
}

.moduletitle {
  margin: 25px 10px 25px 0;

  .index {
    font-size: 14px;
    font-weight: bold;
    color: @swatch_7;
  }

  .title {
    font-size: 18px;
    color: @swatch_7;
    font-family: fantasy;
  }
}

.skill {
  width: 250px;

  h5 {
    color: @swatch_1
  }
}

.skillrank {
  color: @swatch_1;

  .rank {
    height: 2px;
    width: 100%;
    background-color: @swatch_6;

    .inline {
      height: 2px;
      background-color: @swatch_1;
    }
  }

  h6 {
    margin-bottom: 15px;
  }
}

.education {
  margin-top: 30px;
  width: 250px;
  margin-bottom: 20px;

  .time {
    color: @swatch_1;
  }

  .main {
    display: flex;
    margin: 10px;

    .info {
      color: @swatch_1;
      flex: 3;

      .school {
        display: block;
        margin-bottom: 9px;
        font-size: 14px;
      }

      .profession {
        display: block;
        font-size: 14px;
        color: @swatch_3
      }
    }

    .time {
      flex: 1;
      //text-align: center;
      font-size: 14px;
      font-weight: bold;

      .start {
        display: block;
      }

      .end {
        display: block;
      }

      .connect {
        line-height: 8px;
        font-size: 20px;
        text-align: center;
        display: block;
      }
    }
  }
}

.experience {

}

.experience__item {
  border: solid 1px @swatch_4;
  margin-bottom: 10px;
  height: 100px;
  width: 100%;
  color: @swatch_3;
  display: flex;

  .logo {
    height: 80px;
    width: 80px;
    margin: 10px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .experienceitem__main{
    margin: 10px 10px;

    .responsibility{
      font-size: 12px;
      margin-top: 5px;
      white-space: pre-wrap;
    }

    .title {
      color: #fff;
      font-size: 15px;

      .time {
        color: @swatch_3;
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }
}

.award__item {
  .awarditem__main{
    margin: 10px 10px;

    .describe{
      font-size: 12px;
      color: @swatch_1;
      white-space: pre-wrap;
    }

    .title {
      color: #fff;
      font-size: 15px;

      .time {
        color: @swatch_3;
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }
}

.ownwork{
  .ownwork__list {
    margin: 10px;
    .list__item {
      .item__main {
        .describe{
          font-size: 12px;
          color: @swatch_3;
          white-space: pre-wrap;
        }
    
        .title {
          color: #fff;
          font-size: 15px;
    
          .time {
            color: @swatch_3;
            font-size: 14px;
            margin-left: 10px;
          }

          .iconfont {
            cursor: pointer;
            margin-left: 10px;
          }
        } 
      }
    }
  }
}

.experience__list {
  margin-top: 20px;
}

.tools {
  position: fixed;
  top: 20px;
  right: 20px;
}